@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CIDM 3312 Cookbook</h1>
    <h1 class="display-50"> Great chefs, sharing great recipes!</h1>
</div>

<div class="row">
    
        <p style="text-align:center;"><img src="~/images/front_page.jpg" height="400" width="800"></p>
    
 
</div>